header {
    text-align: center;
}
body {
    box-sizing: border-box;
    background-color: beige;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

.link {
    margin-bottom: 2rem;

}
a {
    text-decoration: none;
    color: white;
    background-color: rgb(115, 104, 90);
    border: 1px;
    border-style: solid;
    padding: 5px;
    margin: 1 auto;
}

.menu {
    display: flex;
}

footer {
    text-align: center;
}