{% extends 'base.html' %}
{% block content %}

<head>
    <title>Home</title>
</head>

<main>
    <div class="container">
        <h1 class="display-2 mt-10 text-center">Devcor</h1>
        <h3 class="display-6 text-center">Welcome To Devcor Course 2023</h2>
        <p>
            The Developing Applications using Cisco Core Platforms and APIs (DEVCOR) v1.0 training helps you prepare
            for Cisco DevNet Professional certification and for professional-level network automation engineer
            roles. You will learn how to implement network applications using Cisco® platforms as a base, from
            initial software design to diverse system integration, as well as testing and deployment automation. The
            training gives you hands-on experience solving real world problems using Cisco Application Programming
            Interfaces (APIs) and modern development tools.
        </p>
        <p>
            This training helps you prepare to take the 350-901 Developing Applications using Cisco Core Platforms
            and APIs (DEVCOR) exam. By passing this exam, you satisfy the core exam requirement toward Cisco
            Certified DevNet Professional, and you earn the Cisco Certified DevNet Specialist – Core certification.
            This training also earns you 64 Continuing Education (CE) credits towards recertification.
        </p>
        <br>
        <div class="d-flex justify-content-center">
            <a class="mx-2" href="/labs">Labs</a>
            <a class="mx-2" href="/devices">Devices</a>
            <a class="mx-2" href="/slides">Slides</a>
        </div>
        
    </div>

</main>
{% endblock %}